<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow-lg mt-5">
                <div class="card-header text-bg-primary text-center"> Gorillaz Colima</div>
                <div class="card-body">
                    <!-- FORM -->
                    <form  method="post">
                        <div class="form-floating mb-3">
                            <input [(ngModel)]="user.name" type="text" class="form-control " name="userName" placeholder="Usuario" autofocus required>
                        </div>
                        <div class="form-floating mb-3">
                            <input [(ngModel)]="user.password" type="password" class="form-control" name="password" placeholder="Contraseña" required>
                        </div>
                        <div class="d-grid">
                            <button (click)="login()" type="submit" class="btn btn-dark"> Iniciar de sesión </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>