<div class="container">
    <div class="card-body">
      <table class="table table-bordered table-striped" style="text-align: center;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of clients">
                <td>{{client.id}}</td>
                <td>{{client.name}} {{client.middleName}} {{client.lastName}}</td>
                <td>{{client.email}}</td>
                <td>{{client.phoneNumber}}</td>
                <td>{{client.createAt | date:" dd-MM-yyyy"}}</td>
                <td>
                  <button type="button" name="Eliminar" class="btn btn-info btn-sm "  style="margin: 3px;  font-size: x-small;" (click)='delete(client)'>Detalles</button>
                  <button type="button" name="Editar" [routerLink]="['/clients/form', client.id]" class="btn btn-warning btn-sm" style="margin: 3px; font-size: x-small;"  >Editar</button>
                  <button type="button" name="Eliminar" class="btn btn-danger btn-sm "  style="margin: 3px;  font-size: x-small;" (click)='delete(client)'>Eliminar</button>
                </td>
            </tr>
        </tbody>
      </table>
      <paginator-nav *ngIf="paginator" [paginator]="paginator" ></paginator-nav>
      <div *ngIf="clients?.length == 0 "  class="alert alert-info">
        No hay registros en la base de datos!
      </div>
      <div class="my-2 text-left">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clients/form']" >Agregar Cliente</button>
        <!-- <button class="btn btn-rounded btn-primary" type="button" (click)="open(content)" >Agregar Cliente</button> -->

        

      </div>
    </div>
</div>
