html{
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}
.wrap {
    padding-bottom: 60px;
}
.card {
    text-align: center;
    background-color: lightblue;
    padding: 0.5em;
    width: 400px;
}
.nav-link {
    color: #D3D3D3;
    margin: 2px;
}
.active {
    background-color: #666;
    color: white;
  }
